body {
	margin: 0;
}

a {
	text-decoration: none;
}

nav a {
	padding: 0 1% 0 1%;
}

nav {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	background-color: #729fcf;
	text-align: center;
}

header div {
	max-width: 960px;
	margin: 0 auto;
}

header h1 {
	padding: 30px 10px 10px 10px;
}

footer {
	width: 100%;
	background-color: #729fcf;
	height: 150px;
	text-align: center;
}

header {
	width: 100%;
	background-color: #729fcf;
	padding: 10px 0 10px 0;
}

table {
	border: 2px;
}

a:hover{
	color: #ff0000;
}

.headimg {
	margin: 5px;
	border-radius: 40px;
	float: left;
}

.odd {
	background-color: #6bf4f6;
}

.even {
	background-color: #6bffa1;
}

.headbr {
	clear: both;
}

#main, #forma, #table {
	background-color: #729fcf;
}

#table {
	order: 2;
}

#forma {
	order: 1;
	margin-bottom: 10px;
}

#form-table {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
	body {
		margin: 0;
	}

	a {
		text-decoration: none;
	}

	nav a {
		padding: 0 1% 0 1%;
	}

	nav {
		display: flex;
		flex-direction: row;
		max-width: 960px;
		margin: 0 auto;
		background-color: #729fcf;
		text-align: center;
	}

	header div {
		max-width: 960px;
		margin: 0 auto;
	}

	header h1 {
		padding: 30px 10px 10px 10px;
	}

	footer {
		width: 100%;
		background-color: #729fcf;
		height: 150px;
		text-align: center;
	}

	header {
		width: 100%;
		background-color: #729fcf;
		padding: 10px 0 10px 0;
	}

	table {
		border: 2px;
	}

	a:hover {
		color: #ff0000;
	}

	.headbr {
		clear: both;
	}

	.headimg {
		margin: 5px;
		border-radius: 40px;
		float: left;
	}

	.odd {
		background-color: #6bf4f6;
	}

	.even {
		background-color: #6bffa1;
	}

	#main, #forma, #table {
		max-width: 960px;
		margin: 0 auto;
		background-color: #729fcf;
	}
	#form-table {
		display: block;
	}
}